<!DOCTYPE html>
<html lang="en">
<head>

    <script>
        function filterFiles() {
            var input, filter, fileItems, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toLowerCase();
            fileItems = document.getElementsByClassName('file-item');

            for (i = 0; i < fileItems.length; i++) {
                txtValue = fileItems[i].textContent || fileItems[i].innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    fileItems[i].style.display = "";
                } else {
                    fileItems[i].style.display = "none";
                }
            }

            var directories = document.getElementsByClassName('directory');
            for (i = 0; i < directories.length; i++) {
                var hasVisibleFiles = false;
                var sibling = directories[i].nextElementSibling;
                while (sibling && sibling.classList.contains('file-item')) {
                    if (sibling.style.display !== 'none') {
                        hasVisibleFiles = true;
                        break;
                    }
                    sibling = sibling.nextElementSibling;
                }
                directories[i].style.display = hasVisibleFiles ? "" : "none";
            }
        }
    </script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    * {box-sizing: border-box;}
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #e9e9e9;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }
    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-left: 8px;
        vertical-align: middle;
    }
    .directory {
        font-weight: bold;
        margin-top: 10px;
        margin-left: 8px;
    }
    .file-item {
        display: flex;
        justify-content: space-between;
        align-items: left;
        padding: 5px 0;
    }
    .file-item:nth-child(even) {
        background-color: #f9f9f9;
    }
    .file-info {
        flex: 1;
        text-align: left;
    }
    .file-name {
        flex: 6;
        text-align: left;
        margin-left: -10%;
    }
    .file-size {
        flex: 1;
        text-align: right;
    }
    .file-modtime {
        flex: 1;
        text-align: right;
        margin-right: 20px;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #00b86c;
      color: white;
      text-align: center;
    }
    </style>

    <meta charset="UTF-8">
    <title>Files in {{.Dir}}</title>
</head>
<body>

    <div class="topnav">
        <a class="active" href="#home">Dir: {{.Dir}}</a>
        <div class="search-container">
            <input type="text" id="searchInput" onkeyup="filterFiles()" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <h1>Files in {{.Dir}}</h1>
    <div id="fileList">
        {{range $dir, $files := .GroupedFiles}}
        <div class="directory">
            <img src="images/folder_icon.png" class="icon">
            {{$dir}}
        </div>
        {{range $files}}
        <div class="file-item">
            <div class="file-info">
                <img src="{{if .IsDir}}images/folder_icon.png{{else}}images/file_icon.png{{end}}" class="icon">
            </div>
            <div class="file-name">
                <a href="{{.Link}}">{{.Name}}</a>
            </div>
            <div class="file-size">{{.Size}} bytes</div>
            <div class="file-modtime">{{.ModTime.Format "2006-01-02 15:04:05"}}</div>
        </div>
        {{end}}
        {{end}}
    </div>

    <div class="footer">
        <p>Created by Aécio Pires using AI services (Github Copilot, ChatGPT, Gemini)</p>
    </div>
</body>
</html>