<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Files in {{.Dir}}</title>
</head>
<body>
    <h1>Files in {{.Dir}}</h1>
    <ul>
        {{range $index, $link := .Links}}
        <li><a href="{{$link}}">{{index $.Filenames $index}}</a></li>
        {{end}}
    </ul>
</body>
</html>