<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Files in {{.Dir}}</h1>
    <ul>
        {{range .Files}}
        <li>{{.Path}}</li>
        {{end}}
    </ul>
</body>
</html>